html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: linear 2s;
    /* background-color: #1e1e1e; */
}


#navigation {
    position: fixed;
    z-index: 2;
    background-color: #000000;
    display: flexbox;
}

#navigation #searchbar {
    position: relative;
    top:15px ;
    width: 400px;
    left: 40%;
}

#navigation #searchbar:focus {
    outline: solid 2px rgba(6, 147, 255, 0.651);
}

/* #navigation #bell {
    left: 50%;
    margin-top: 10px;
    position: relative;
}


@media only screen and (max-width:1200px) {
    #navigation #bell {
        left: 30%;
        transition: linear 0.3s;
    }
} */


#navigation #submit {
    color: white;
    position:relative;
    bottom: 23px;
    left: 570px;
    /* margin-left: 16%; */
}

.sidebar {
    background-color: rgb(0, 0, 0);
    width: 70px !important;
    position: fixed;
    border-right: solid rgb(174, 174, 174) 1px;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1.9;
}

.sidebar ul li {
    list-style-type: none;
    padding: 0;
    margin: 70px 0px 70px -20px;
}

/* .border-bottom {
    border: solid white 1px;
} */

.main
{
    position: relative;
    top: 150px;
    left:250px;  
}
.bio{
    position: relative;
    padding-left: 350px;
}
#blue_tick{
    width: 25px;
    position: relative;
    left:16em;bottom: 49px;
    padding:0 0 0 0;

}
#username{
    font-size: 30px;
}